.form__btn {
  width: 50%;
  display: block;
  border: none;
  border-radius: 7px;
  padding: 0.8rem 0;
  margin: 2rem auto;
  background-color: rgb(61, 59, 59);
  box-shadow: rgb(36, 35, 35) 3px 3px 6px 0px;
}
