/* input and label */
.form__label {
  display: block;
  margin-top: 1rem;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  border: solid 3px rgb(143, 141, 141);
}
