.or-text {
  margin: 2rem auto;
  text-align: center;
  color: rgb(124, 124, 124);
  position: relative;
}
.or-text:before {
  content: '';
  display: block;
  width: 140px;
  height: 2px;
  background: rgb(124, 124, 124);
  left: 0px;
  top: 50%;
  position: absolute;
}
.or-text:after {
  content: '';
  display: block;
  width: 140px;
  height: 2px;
  background: rgb(124, 124, 124);
  right: 0px;
  top: 50%;
  position: absolute;
}

.form__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__social-icon {
  width: 60px;
}

@media screen and (max-width: 600px) {
  .or-text:before,
  .or-text::after {
    width: 100px;
  }
}
