.section-A {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: 4fr 8fr; */
  /* grid-gap: 1rem; */
}

.mr-top {
  margin-top: 1.5rem;
}

.section-info {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 1fr;
  align-items: center;
  /* width: 22rem; */
  width: 25%;
  height: 23rem;
  padding: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 25px;
  background-color: rgb(46, 44, 44);
  box-shadow: rgb(24, 23, 23) 3px 3px 6px 0px, rgb(24, 23, 23) -3px -3px 6px 1px;
}

.circle {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: rgb(39, 218, 15);
}

.section-info__box {
  width: 90%;
  height: 90px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 0.7rem;
  border-radius: 20px;
  background-color: rgb(46, 44, 44);
}

.card {
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(46, 44, 44);
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgb(41, 39, 39) -3px -3px 6px 1px inset;
}

.section-info__caed-btn {
  width: 100%;
  border-radius: 20px;
  display: inline-block;
  justify-content: end;
  height: 1.5rem;
  background-color: rgb(42, 2, 68);
  box-shadow: rgb(42, 2, 68) 3px 3px 2px 0px inset,
    rgb(78, 4, 128) -1px -1px 2px 1px inset;
}

.priority {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(116, 6, 6);
  box-shadow: rgb(61, 1, 1) 3px 3px 6px 0px inset,
    rgb(122, 24, 24) -3px -3px 6px 1px inset;
}

.description {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(46, 44, 44);
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgb(41, 39, 39) -3px -3px 6px 1px inset;
}

.textmore {
  color: rgb(197, 193, 193);
}

.operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgb(41, 39, 39) -3px -3px 6px 1px inset;
}

.imageSize {
  width: 15px;
  cursor: pointer;
}

.edit {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.delete {
  filter: invert(14%) sepia(96%) saturate(5835%) hue-rotate(1deg)
    brightness(101%) contrast(118%);
}

.speaker {
  display: block;
  width: 25px;
  cursor: pointer;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

@media screen and (max-width: 600px) {
  .section-A {
    flex-direction: column;
    font-size: 0.6rem;
  }

  .section-info__box {
    font-size: 0.4rem;
    padding: 0.5rem;
  }

  .section-info {
    width: 18rem;
    height: 21rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .circle {
    width: 15px;
    height: 15px;
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 950px) and (min-width: 600px) {
  .section-A {
    font-size: 0.8rem;
  }

  .section-info__box {
    font-size: 0.5rem;
  }

  .section-info {
    width: 16rem;
    height: 20rem;
    padding: 1rem;
  }

  .circle {
    width: 15px;
    height: 15px;
    margin-right: 0.3rem;
  }
}
