.navbar {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  display: flex;
  text-align: center;
  /* justify-content: center; */
  text-align: center;
  margin: 1rem;
  padding: 0.8rem;
  width: 200px;
  height: 50px;
  background-color: rgb(42, 2, 68);
  color: #fff;
  border-radius: 20px;
  box-shadow: rgb(42, 2, 68) 3px 3px 2px 0px inset,
    rgb(78, 4, 128) -1px -1px 2px 1px inset;
}

.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.logo {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }

  .navbar__item {
    padding: 0.8rem;
    width: 130px;
    font-size: 0.6rem;
  }

  .image {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 950px) and (min-width: 600px) {
  .navbar__item {
    width: 160px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 950px) {
  .navbar {
    padding: 2rem 8rem;
  }
}
