.section-slider {
  /* display: flex;
  justify-content: right;*/
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 23rem;
  /*position: relative;
  overflow-x: hidden;
  width: 20rem;
  height: 20rem;*/
  padding: 2rem 1.5rem;
  /* margin-right: 2rem; */
  background-color: rgb(46, 44, 44);
  box-shadow: rgb(24, 23, 23) 3px 3px 6px 0px, rgb(24, 23, 23) -3px -3px 6px 1px;
  border-radius: 20px;
  color: #fff;
}

.size {
  height: 100%;
}

.section-slider__slide {
  /* margin-bottom: 1rem;
  background-color: rgb(22, 22, 22); */
  /*width: 10rem;
  height: 10rem; */
  /* max-width: 40%; */
  height: 90%;
  padding: 1rem;
  /* margin: 2rem 1rem; */
  /* */
  border-radius: 20px;
  background-color: rgb(22, 22, 22);
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgb(26, 25, 25) -3px -3px 6px 5px inset;
}

.section-slider__slide-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.section-slider__slide-image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .section-slider {
    /* max-width: 19rem; */
    /* width: 50%; */
    width: 18rem;
  }
}

@media screen and (max-width: 950px) {
  .section-slider {
    /* max-width: 19rem; */
    height: 20rem;
    padding: 1rem;
    margin: 1rem auto;
  }
}
