/* font */
@font-face {
  font-family: Sans;
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fontSans/Sans.eot');
  src: url('./assets/fontSans/Sans.woff') format('woff'),
    url('./assets/fontSans/Sans.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* direction: rtl; */
  color: #fff;
  font-family: 'Sans', Arial, sans-serif;
}

body {
  /* background-color: var(--bs-blue); */
  background-color: #000 !important;
}

.form {
  width: 400px;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: rgb(46, 44, 44);
  box-shadow: rgb(24, 23, 23) 3px 3px 6px 0px, rgb(24, 23, 23) -3px -3px 6px 1px;
}

.form h1 {
  text-align: center;
}

.outher-forms {
  text-align: center;
}

.outher-forms p {
  display: inline;
  color: rgb(179, 172, 172);
}

.outher-forms .forgot-pass {
  display: block;
}

.form__show-detail {
  margin-top: 1.5rem;
}

.form__show-detail label {
  margin-bottom: 0.5rem;
}

.form__show-detail h4 {
  color: rgb(129, 127, 127);
}

.form__link {
  text-decoration: none;
  /* color: rgb(42, 2, 68); */
}

.link-btn {
  height: 40px;
}

.link-button {
  text-decoration: none;
  color: #fff;
}

.list-btn {
  display: flex;
  justify-content: end;
}

.cancel-btn {
  width: 50%;
  display: block;
  border: none;
  border-radius: 7px;
  padding: 0.8rem 0;
  margin: 2rem auto;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: rgb(61, 59, 59);
  box-shadow: rgb(36, 35, 35) 3px 3px 6px 0px;
}

.cancel-btn:hover {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .form {
    width: 300px;
    font-size: 0.8rem;
  }
}
